<div class="div-img">
  <img class="responsive-img" [src]="url">
</div>
<div class="row">
  <form class="col s20">
    <div class="file-field input-field">
      <div class="btn center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4">
        <span>Cambiar imágen</span>
        <input type="file" (change)="onFileSelection($event)" >
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" >
      </div>
    </div>
  </form>
</div>