.responsive-img{
    width: 90px;
    height:auto;
    margin-left:80px;
    border:2px solid #fff;
	color:white;
	font-size:50px;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}
/* 
.div-img{
    margin-left: 60px;
}

.row{
    margin-left: 60px; 
} */
.file-path-wrapper {

    color: rgba(204, 204, 204, 0) !important;
}


.file-path {

    border: rgba(204, 204, 204, 0) !important;
    box-shadow: 0 0px 0 0 rgba(244, 67, 54, 0) ;
}

.validate {

    border: rgba(204, 204, 204, 0) !important;
    box-shadow: 0 0px 0 0 rgba(244, 67, 54, 0) !important ;
}

.valid {

    border: rgba(204, 204, 204, 0) !important;
    box-shadow: 0 0px 0 0 rgba(244, 67, 54, 0) !important ;
}