<!-- //////////////////////////////RECETAS//////////////////////////////////////////////////////// -->
<div class="container">
  <div class="row">
    <form #form4="ngForm" class="col s12 m12 l12 xl12" (ngSubmit)="onSubmit(form4)">
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <input placeholder="Nombre de la receta" name="receta" type="text" class="validate" minlength="3" required #nomreceta="ngModel"
            [(ngModel)]="pNombre">
          <div class="md-errors-spacer" [hidden]="nomreceta.valid || nomreceta.untouched">
            <div class="error" *ngIf="nomreceta.errors && nomreceta.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="nomreceta.errors && nomreceta.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <input placeholder="Ingredientes" name="ingredientes" type="text" class="validate" [(ngModel)]="pIngredientes">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4 right" (click)="addIngredientes()">Añadir +</button>
        </div>
      </div>
      <div>
        <ul>
          <li *ngFor="let ing of ingredient">{{ing}} </li>
        </ul>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <textarea placeholder="Introduce la preparación de la receta..." name="textareaPreparacion" class="materialize-textarea"
            required #prepreceta="ngModel" [(ngModel)]="pPreparacion"></textarea>
          <div class="md-errors-spacer" [hidden]="prepreceta.valid || prepreceta.untouched">
            <div class="error" *ngIf="prepreceta.errors && prepreceta.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="prepreceta.errors && prepreceta.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4 right" [disabled]="form4.pristine || !form4.valid">Aplicar</button>
        </div>
      </div>
    </form>
  </div>
</div>