<div class="img-portada">
  <img class="portada col s12" src="../../assets/img/Large_portada.png" alt="">
</div>
<app-buscador></app-buscador>
<div class="container center">
  <div class="row"></div>
  <div class="row"></div>
  <h2>Premiamos tu confianza</h2>
  <p>Cuantas más interacciones hagas (publicar imagenes, valoraciones, comentarios, recetas,etc.) más puntos acumularas! Los
    puntos te permitirán obtener descuentos y ofertas.</p>
  <img class="banner responsive-img" src="/assets/img/GastroGuide.png" alt="">
</div>

<div class="container center">
  <div class="col s12">
    <h2>¿Cómo funciona GastroGuide?</h2>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <h3>Descubre</h3>
      <h5>Descubre los restaurantes más apetitosos.</h5>
      <p> Busca entre los más de 300 restaurantes de nuestra web y elige el que más se ajuste a tus gustos. Antes que te des
        cuenta te volverás un GastroLover!</p>
    </div>

    <div class="col s12 m4">
      <h3>Reserva</h3>
      <h5>Reserva tu mesa y disfruta</h5>
      <p>GastroGuide te permite encontrar restaurantes cerca de ti y te ayuda a reservarlos de forma rápida y sencilla en tan
        solo un click.</p>
    </div>

    <div class="col s12 m4">
      <h3>Cuéntanos</h3>
      <h5>Cuéntanos tu experiencia en la web</h5>
      <p>Paseate por la red en busca de nuevas recetas, valoraciones, videos, streamings e interactúa con los demás usuarios.
      </p>
    </div>
  </div>
