<p>
  filtrar works!
</p>
<div class="container">
  <div class="row">
    <div class="container col s12 m4 l4">
      <ul>
        <li *ngFor="let it of busquedaObj; index as i">{{it}} --id--> {{i}}</li>
      </ul>
    </div>
    <div class="col s12 m8 l8 center-align">
      <div *ngFor="let rest of arrayRestaurantesPintados" class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">{{rest.nombre}}</span>
        </div>
        <div class="card-content">
          <p>
            Adresa: {{rest.adresa}}
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/restaurante/{{rest.idRest}}">{{rest.nombre}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
