<div class="container">
  <div class="row">
    <div class="col s12 m4 l4">
      <form action="/" method="" name="filtrar">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header amber accent-3">
              <h5>Filtrar la búsqueda</h5>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Localidad</div>
            <div class="collapsible-body">
              <select name="form3" materialize="material_select" [(ngModel)]="localidad" id="localidad">
                <option value="" disabled selected>Localidad</option>
                <option *ngFor="let loc of ciudades; index as i" value="{{loc}}">{{loc}}</option>
              </select>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Tipo de cocina</div>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let elem of arrayTipoCocina; index as i">
                  <input name="filtrar" value={{i}} type="checkbox" id=tipo-cocina{{i}} [checked]="arrayCheckTipoCocina[i]" (change)="arrayCheckTipoCocina[i] = !arrayCheckTipoCocina[i]"
                  />
                  <label for=tipo-cocina{{i}}>{{elem}}</label>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Ambientes</div>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let elem of arrayAmbientes; index as i">
                  <input name="filtrar" value="{{i}}" type="checkbox" id=ambientes{{i}} [checked]="arrayCheckAmbientes[i]" (change)="arrayCheckAmbientes[i] = !arrayCheckAmbientes[i]"
                  />
                  <label for="ambientes{{i}}">{{elem}}</label>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Valoración</div>
            <div class="collapsible-body">
              <div class="range-field">
                <input name="filtrar" type="range" id="range-valoracion" min="0" max="10" [(ngModel)]="range" />
                <div class="center-align">
                  <h3>{{range}}</h3>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <button class="btn amber accent-3 waves-effect waves-orange blue-grey-text text-darken-4" (click)="getFiltrar()">Filtrar</button>
      </form>
    </div>
    <div class="col s12 m8 l8">
      <div *ngFor="let rest of arrayRestaurantesPintados" class="card col s12 m6">
        <div class="card-image waves-effect waves-block waves-light">
          <img [src]="rest.imagen" class="imgRest responsive-img">
        </div>
        <div class="card-content">
          <span class="card-title activator">{{rest.restaurante}}
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a routerLink="/restaurante/{{rest._id}}">VER RESTAURANTE</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title">{{rest.restaurante}}
            <i class="material-icons right">close</i>
          </span>
          <p>
            Dirección: {{rest.adresa}}
          </p>
          <div *ngFor="let tipo of rest.tipo" class="amber-text text-accent-3">
            {{tipo}}
          </div>
        </div>
        <!--         <div class="">
          <h2>{{rest.valoracion}}</h2>
          <p>
            {{rest.opiniones.length}} opiniones.
          </p>
        </div> -->
      </div>
      <div class="col s1"></div>
      <!--       <div *ngFor="let rest of arrayRestaurantesPintados" class="card horizontal z-depth-3" routerLink="/restaurante/{{rest.idRest}}">
        <div class="card-image valign-wrapper">
          <img [src]="rest.imagen">
          <span class="card-title">{{rest.nombre}}</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <div>
                  <h5>{{rest.nombre}}</h5>
                </div>
                <p>
                  Adresa: {{rest.adresa}}
                </p>
                <div *ngFor="let tipo of rest.tipo" class="amber-text text-accent-3">
                  {{tipo}}
                </div>
              </div>
              <div class="col s4 separador">
                <h2>{{rest.valoracion}}</h2>
                <div class="row"></div>
                <p>
                  {{rest.opiniones.length}} opiniones.
                </p>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a routerLink="/restaurante/{{rest.idRest}}">{{rest.nombre}}</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
