/* .card-title {
  background-color: rgba(0, 0, 0, 0.4) !important;
} */
.separador {
  border-left: 3px solid rgba(0, 0, 0, 0.4);
}
.card-image{
  /* background-color: lightgray; */
  overflow: hidden;
  height: 250px;
}
.container {
  width: 90vw !important;
}
div.card{
  cursor: pointer;
}
imgRest{
  height: 300px !important;
}
