.error {
    color: red;
    text-align: left;
    font-size: 0.9em;
    }

.ng-invalid {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 ;
}

.ng-valid {
    border-bottom: 1px solid #4CAF50 !important;
        box-shadow: 0 1px 0 0 #4CAF50 ;
}
.ng-untouched {
    border-bottom:1px solid #9e9e9e !important;
    box-shadow: 0 1px 0 0 #9e9e9e ;
}
