<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3">
    <a href="#test-swipe-1">Publicar o modificar fotos</a>
  </li>
  <li class="tab col s3">
    <a class="active" href="#test-swipe-2">Publicar videos</a>
  </li>
  <li class="tab col s3">
    <a href="#test-swipe-3">Menú</a>
  </li>
  <li class="tab col s3">
    <a href="#test-swipe-4">Ofertas</a>
  </li>
  <li class="tab col s3">
    <a href="#test-swipe-5">Recetas</a>
  </li>
</ul>

<!--/////////////////////////////////IMÁGENES/////////////////////////////////////////////////////-->
<div id="test-swipe-1" class="col s12">
  <h3 class="title">Publicar o modificar fotos</h3>
  <div class="row">
    <form class="col s6">
      <div class="file-field input-field">
        <div class="btn btn2">
          <span>File</span>
          <input type="file" multiple class="col s6">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Subir una o más imagenes">
        </div>
      </div>
    </form>
  </div>


  <div id="content-imgs">
    <div class="div-img">
      <img class="responsive-img" src="../../assets/img/alex.jpg">
      <img class="responsive-img" src="../../assets/img/roman.jpg">
    </div>
    <div class="div-img">
      <img class="responsive-img" src="../../assets/img/chutter.jpg">
      <img class="responsive-img" src="../../assets/img/jay.jpg">
    </div>
  </div>
</div>

<!--///////////////////////////////////VÍDEOS///////////////////////////////////////////////////-->
<div id="test-swipe-2" class="col s12">
  <h3 class="title">Publicar videos</h3>
  <div class="row">
    <form #form="ngForm" class="col s12" (ngSubmit)="onSubmit(form)">
      <!-- <pre>{{form.valid}}</pre>
      <pre>{{miVideo|json}}</pre> -->
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Introduce un título" name="titulovideo" type="text" class="validate" minlength="3" required #titvideo="ngModel"
            [(ngModel)]="miVideo.titulo">
          <div class="md-errors-spacer" [hidden]="titvideo.valid || titvideo.untouched">
            <div class="error" *ngIf="titvideo.errors && titvideo.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="titvideo.errors && titvideo.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Introduce una descripción" name="descripcionVideo" type="text" minlength="3" class="validate" required
            #descripcion="ngModel" [(ngModel)]="miVideo.descripcion">
          <div class="md-errors-spacer" [hidden]="descripcion.valid || descripcion.untouched">
            <div class="error" *ngIf="descripcion.errors && descripcion.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="descripcion.errors && descripcion.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Introduce una URL" name="urlVideo" type="url" minlength="3" class="validate" required pattern="https?://.+"
            #url="ngModel" [(ngModel)]="miVideo.url">
          <div class="md-errors-spacer" [hidden]="url.valid || url.untouched">
            <div class="error" *ngIf="url.errors && url.errors.required">
              La URL no es correcta
            </div>
            <div class="error" *ngIf="url.errors && url.errors.pattern">
              La URL no es correcta
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce un texto..." name="textareaVideo" class="materialize-textarea" required #textVideo="ngModel"
            [(ngModel)]="miVideo.texto"></textarea>
          <div class="md-errors-spacer" [hidden]="textVideo.valid || textVideo.untouched">
            <div class="error" *ngIf="textVideo.errors && textVideo.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="textVideo.errors && textVideo.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s6">
        <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" [disabled]="form.pristine || !form.valid">Aplicar</button>
      </div>
    </form>
  </div>
</div>

<!--///////////////////////////////////MENÚ///////////////////////////////////////////////////-->
<div id="test-swipe-3" class="col s12">
  <h3 class="title">Menú</h3>
  <div class="row">
    <form #form2="ngForm" class="col s12" (ngSubmit)="onSubmit(form2)">
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce los entrantes..." name="textareaEntrantes" class="materialize-textarea" required #entrantes="ngModel"
            [(ngModel)]="miMenu.entrantes"></textarea>
          <div class="md-errors-spacer" [hidden]="entrantes.valid || entrantes.untouched">
            <div class="error" *ngIf="entrantes.errors && entrantes.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="entrantes.errors && entrantes.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce los primeros..." name="textareaPrimeros" class="materialize-textarea" required #primeros="ngModel"
            [(ngModel)]="miMenu.primeros"></textarea>
          <div class="md-errors-spacer" [hidden]="primeros.valid || primeros.untouched">
            <div class="error" *ngIf="primeros.errors && primeros.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="primeros.errors && primeros.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce los segundos..." name="textareaSegundos" class="materialize-textarea" required #segundos="ngModel"
            [(ngModel)]="miMenu.segundos"></textarea>
          <div class="md-errors-spacer" [hidden]="segundos.valid || segundos.untouched">
            <div class="error" *ngIf="segundos.errors && segundos.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="segundos.errors && segundos.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce los postres..." name="textareaPostres" class="materialize-textarea" required #postres="ngModel"
            [(ngModel)]="miMenu.postres"></textarea>
          <div class="md-errors-spacer" [hidden]="postres.valid || postres.untouched">
            <div class="error" *ngIf="postres.errors && postres.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="postres.errors && postres.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s6">
        <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" [disabled]="form2.pristine || !form2.valid">Aplicar</button>
      </div>
    </form>
  </div>
</div>

<!--////////////////////////////////OFERTAS//////////////////////////////////////////////////////-->
<div id="test-swipe-4" class="col s12">
  <h3 class="title">Ofertas</h3>
  <div class="row">
    <form #form3="ngForm" class="col s12" (ngSubmit)="onSubmit(form3)">
      <div class="row">
        <p>
          <input class="with-gap" name="group3" type="radio" id="test5" checked />
          <label for="test5">Promociones</label>
        </p>
        <p>
          <input class="with-gap" name="group3" type="radio" id="test5" checked />
          <label for="test5">Descuentos</label>
        </p>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Describe la oferta..." name="textareaOferta" class="materialize-textarea" required #oferta="ngModel"
            [(ngModel)]="miOferta.ofertas"></textarea>
          <div class="md-errors-spacer" [hidden]="oferta.valid || oferta.untouched">
            <div class="error" *ngIf="oferta.errors && oferta.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="oferta.errors && oferta.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s6">
        <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" [disabled]="form3.pristine || !form3.valid">Aplicar</button>
      </div>
    </form>
  </div>
</div>

<!--//////////////////////////////RECETAS////////////////////////////////////////////////////////-->
<div id="test-swipe-5" class="col s12">
  <h3 class="title">Recetas</h3>
  <div class="row">
    <form #form4="ngForm" class="col s12" (ngSubmit)="onSubmit(form4)">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Nombre de la receta" name="receta" type="text" class="validate" minlength="3" required #nomreceta="ngModel"
            [(ngModel)]="miReceta.nombre">
          <div class="md-errors-spacer" [hidden]="nomreceta.valid || nomreceta.untouched">
            <div class="error" *ngIf="nomreceta.errors && nomreceta.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="nomreceta.errors && nomreceta.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Ingredientes" name="ingredientes" type="text" class="validate" [(ngModel)]="miReceta.ingredientes">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" (click)="addIngredientes()">Añadir +</button>
        </div>
      </div>
      <div>
        <ul>
          <li *ngFor="let ing of ingredient">{{ing}} </li>
        </ul>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea placeholder="Introduce la preparación de la receta..." name="textareaPreparacion" class="materialize-textarea"
            required #prepreceta="ngModel" [(ngModel)]="miReceta.preparacion"></textarea>
          <div class="md-errors-spacer" [hidden]="prepreceta.valid || prepreceta.untouched">
            <div class="error" *ngIf="prepreceta.errors && prepreceta.errors.required">
              Por favor debes rellenar este campo
            </div>
            <div class="error" *ngIf="prepreceta.errors && prepreceta.errors.pattern">
              Por favor debes rellenar este campo
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" [disabled]="form4.pristine || !form4.valid">Aplicar</button>
        </div>
      </div>
    </form>
  </div>
  <!--//////////////////////////////////////////////////////////////////////////////////////-->
  <h4>Add/Remove experience</h4>
  <div #parent></div>
  <div>
    <button type="button" (click)="addComponent()" class="btn btn-default">Add Experience </button>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////-->
</div>