.s12{
    margin-left:60px;
}

.title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.file-field{
    margin-left:60px;
}

.responsive-img{
    width: 300px;
    height:200px;
    margin-left:110px;
}

.div-img{
    margin: 60px;
}