<div class="container">
  <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
    <li class="tab col s3">
      <a href="#test-swipe-1" class="blue-grey-text text-darken-4">Publicar o modificar fotos</a>
    </li>
    <li class="tab col s3">
      <a href="#test-swipe-2" class="blue-grey-text text-darken-4">Publicar videos</a>
    </li>
    <li class="tab col s3">
      <a href="#test-swipe-3" class="blue-grey-text text-darken-4">Menú</a>
    </li>
    <li class="tab col s3">
      <a href="#test-swipe-4" class="blue-grey-text text-darken-4">Ofertas</a>
    </li>
    <li class="tab col s3">
      <a href="#test-swipe-5" class="blue-grey-text text-darken-4">Recetas</a>
    </li>
  </ul>

  <div id="test-swipe-1" class="col s12">
    <app-imagenes></app-imagenes>
  </div>

  <!-- ///////////////////////////////////VÍDEOS/////////////////////////////////////////////////// -->
  <div id="test-swipe-2" class="col s12">
    <app-videos></app-videos>
  </div>

  <!-- ///////////////////////////////////MENÚ///////////////////////////////////////////////////-->
  <div id="test-swipe-3" class="col s12">
    <app-menu></app-menu>
  </div>

  <!-- ////////////////////////////////OFERTAS//////////////////////////////////////////////////////-->
  <div id="test-swipe-4" class="col s12">
    <app-ofertas></app-ofertas>
  </div>

  <!-- //////////////////////////////RECETAS////////////////////////////////////////////////////////-->
  <div id="test-swipe-5" class="col s12">
    <app-recetas></app-recetas>
  </div>
</div>