<div class="container z-depth-5">
  <div class="row"></div>
  <form name="form" action="/" method="">
    <div class="row">
      <div class="input-field col hide-buscador m3 l2">
        <select name="form1" multiple materialize="material_select" [(ngModel)]="optionsTipoCocina" id="tipoCocina" [class]="validarTipoCocina"
          (change)="getValidarTipoDeCocina()">
          <option value="" disabled selected>Cocina</option>
          <option *ngFor="let tip of tipoDeCocina; index as i" value="{{i}}">{{tip}}</option>
        </select>
        <label for="tipoCocina" data-error="Campo vacío" data-success="Correcto">Escoje tipo de cocina</label>
      </div>
      <div class="input-field col hide-buscador m3 l2">
        <select name="form2" multiple materialize="material_select" [(ngModel)]="optionsAmbientes" id="ambiente" [class]="validarAmbiente"
          (change)="getValidarAmbiente()">
          <option value="" disabled selected>Ambiente</option>
          <option *ngFor="let amb of ambientes; index as i" value="{{i}}">{{amb}}</option>
        </select>
        <label for="ambiente" data-error="Campo vacío" data-success="Correcto">Escoje tipo de ambiente</label>
      </div>
      <div class="input-field col s8 m3 l2">
        <select name="form3"  materialize="material_select" [(ngModel)]="localidad" id="localidad" [class]="validarLocalidad"
          (change)="getValidarLocalidad()">
          <option value="" disabled selected>Localidad</option>
          <option *ngFor="let loc of ciudades; index as i" value="{{loc}}">{{loc}}</option>
        </select>
        <label for="localidad" [attr.data-error]="errorLocalidad" data-success="Correcto">Introduce localidad</label>
      </div>
      <div class="input-field col m4 l2 hide-on-med-and-down">
        <input name="form4" id="date" type="text" [class]="validarFecha" materialize-date-picker materialize="pickadate" 
          [(ngModel)]="fecha" (ngModelChange)="getValidarFecha()"/>
        <label for="date" [attr.data-error]="errorFecha" data-success="Correcto">Introduce fecha</label>
      </div>
      <div class="input-field col m2 l1 hide-on-med-and-down">
        <input name="form5" id="time" type="text" [class]="validarHora" materialize-time-picker materialize="pickatime" [(ngModel)]="hora"
          (ngModelChange)="getValidarHora()">
        <label for="time" [attr.data-error]="errorHora" data-success="Correcto">Hora</label>
      </div>
      <div class="input-field col m2 l1 hide-on-med-and-down">
        <select name="form6" [class]="validarComensales" materialize="material_select" [(ngModel)]="comensales" id="comensalesId"
          (ngModelChange)="getValidarComensales()">
          <option value="" disabled selected>Personas</option>
          <option value="1">1 persona</option>
          <option value="2">2 personas</option>
          <option value="3">3 personas</option>
          <option value="4">4 personas</option>
          <option value="5">5 personas</option>
          <option value="6">6 personas</option>
          <option value="7">7 personas</option>
          <option value="8">8 personas</option>
          <option value="9">9 personas</option>
          <option value="10">10 pers.</option>
        </select>
        <label for="comensalesId" data-error="Campo vacío" data-success="Correcto">Comensales</label>
      </div>
      <div class="col s4 m3 l2 valign-wrapper">
        <button class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4" (click)="getBuscador()">
          <i class="material-icons left">search</i>Buscar</button>
      </div>
    </div>
  </form>
  <!-- <div class="row"></div> -->
</div>
