.container {
  width: 100% !important;
  background-color: #eaf9ff;
}
.container form {
  margin: 0px 20px;
}
div.valign-wrapper {
  height: 81px;
}
.center{
  margin: auto;
}
.input-field label {
  width: 100%;
}
.collection {
  position: absolute;
  z-index: 3;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.collection-item:hover{
  background-color: lightgray;
}
div.col {
  margin-top: 10px;
  margin-bottom: 10px;
}
.collection{
  max-height: 150px;
  overflow-y: scroll;
}
