<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="aviso-legal">
    <h3>Aviso legal</h3>
    <p>
      El sitio www.gastroguide.com y las aplicaciones para móviles y tabletas de GastroGuide son publicaciones de:
    </p>
    <p>
      <h3>La sibaritas SAS</h3>
    <p>Sociedad por acciones simplificada con 30.231.355,35 euros de capital social.</p>
    <p>Domicilio social: 75, rue Saint-Lazare, 75009 Lyon, Francia</p>
    <p>Inscrita en el RCS de Lyon bajo el n.º 495 557 249</p>
    <p>N.º de IVA intracomunitario: FR71493337949</p>
    <p>Director de publicación: Jhon McAfee.</p>
    <p>Teléfono: +33 (0)9 38 80 55 92</p>
    <p>E-mail: contact@sibaritas.com</p>
    <p>El alojamiento web del sitio http://www.gastroguide.com es ofrecido por:</p>
    <p>sibaritas</p>
    <p>25, boulevard de Strasbourg</p>
    <p>75010 Lyon, Francia</p>
    <p>http://www.sibaritas.com/</p>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
