.responsive-img{
    width: 300px;
    height:200px;
    margin-left:80px;
    border:2px solid #fff;
	color:white;
	font-size:50px;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}

.div-img{
    margin: 60px;
}