<!--/////////////////////////////////IMÁGENES/////////////////////////////////////////////////////-->
<div class="container">
  <div class="row center-align">
    <form class="col s12 m12 l12 xl12">
      <div class="file-field input-field">
        <div class="btn z-depth-5 center waves-effect waves-orange amber accent-3 blue-grey-text text-darken-4">
          <span>Añadir imágen</span>
          <input type="file" (change)="onFileSelection($event)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
  </div>
  <!--//////////////////////////////////////////////////////////////////////////-->
  <div class="row">
    <div class="div-img col s6 m6 l5 xl5">
      <img class="responsive-img" src="../../assets/img/alex.jpg">
    </div>
    <div class="div-img col s6 m6 l5 xl5">
      <img class="responsive-img" src="../../assets/img/roman.jpg">
    </div>
  </div>
  <div class="row">
    <div class="div-img col col s6 m6 l5 xl5">
      <img class="responsive-img" src="../../assets/img/chutter.jpg">
    </div>
    <div class="div-img col col s6 m6 l5 xl5">
      <img class="responsive-img" src="../../assets/img/jay.jpg">
    </div>
  </div>
  <div class="row">
    <div class="div-img col s6 m6 l6 xl6" *ngIf="imagen.url">
      <img *ngFor="let img of imagen.url; index as i" class="responsive-img" [src]="imagen.url[i]">
    </div>
  </div>
</div>