<nav class="nav-extended blue-grey darken-4">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><img src="/assets/img/logo-small.png" alt="Alternate Text" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="variableLocal == 0"><a routerLink="/login-signup" class="btn amber accent-3 waves-effect waves-orange blue-grey-text text-darken-4"><i class="material-icons left icon-dark">person</i>Inicia Sesión</a></li>
      <li *ngIf="variableLocal != 0"><a materialize="dropdown" data-activates='dropdown1' class="dropdown-button btn amber accent-3 waves-effect waves-orange blue-grey-text text-darken-4"><i class="material-icons left icon-dark">person</i>{{nombreUsuario}}</a></li>
      <ul id='dropdown1' class='dropdown-content'>
          <li><a routerLink="/homeres">Editar perfil</a></li>
          <li><a (click)="vista()">Ver restaurante</a></li>
          <li class="divider"></li>
          <li><a (click)="logOut()">Log out</a></li>
        </ul>
    </ul>
    <ul class="side-nav blue-grey darken-4" id="mobile-demo">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/assets/img/1.jpg">
          </div>
          <a href="#"><img class="responsive-img circle" src="/assets/img/logo-small.png"></a>
          <a href="#"><span class="white-text name">{{nombreUsuario}}</span></a>
          <a href="#"><span class="white-text email">{{emailUsuario}}</span></a>
        </div>
      </li>
      <li *ngIf="variableLocal == 0"><a routerLink="/login-signup" class="btn amber accent-3 waves-effect waves-orange blue-grey-text text-darken-4"><i class="material-icons left icon-dark">person</i>Inicia Sesión</a></li>
      <li *ngIf="variableLocal != 0"><a materialize="dropdown" data-activates='menuperfil' href='#' class="dropdown-button btn amber accent-3 waves-effect waves-orange blue-grey-text text-darken-4"><i class="material-icons left icon-dark">person</i>{{nombreUsuario}}</a></li>
      <ul id='menuperfil' class='dropdown-content'>
          <li><a routerLink="/homeres">Editar perfil</a></li>
          <li><a (click)="vista()">Ver restaurante</a></li>
          <li class="divider"></li>
          <li><a (click)="logOut()">Log out</a></li>
        </ul>
    </ul>
  </div>
</nav>
