.icon-social{
  padding: 4px;
}
.img-logo {
  width: 200px;
  height: auto;
}
div > p > a{
  color: white;
}
div > p > a:hover{
  color: cornflowerblue;
}
div.col{
  margin-top: 5px;
  margin-bottom: 5px;
}
